RewriteEngine On
RewriteBase /desafio_infoideias/public/

# Redireciona tudo que não for arquivo ou pasta para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

